.button-nav {
  width: 400px;
  height: 50px;
  color: rgb(245, 245, 245);
  background-color: green;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-nav:hover {
  background-color:grey;
}

.button-nav a:link {
  text-decoration: none;
}

.button-nav a:visited {
  color: rgb(245, 245, 245);
}