.button-nav {
  width: 300px;
  height: 40px;
  background-color:#2a693d;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-nav a {
  color:#eefbf1;
  font-size: 30px;
}

.button-nav:hover {
  background-color:#70b09c;
}

.button-nav a:hover {
  font-size:33px;
  color:#2a693d;
  
}

.button-nav a:link {
  text-decoration: none;
}

.button-nav a:visited {
  color: rgb(245, 245, 245);
}