.main-sixth .main-container {
	min-height: 100%;
	/*position: absolute;˛*/
	/*padding-bottom: 100px;*/
	/*display: flex;*/
 }
 
 .main-sixth .box {
	 width: 70%;
	 height: 510px;
	 border: 1 px solid black;
	 margin: 2.5% auto 0;
 }

 .main-sixth .footer {
	width: 100%;
	display: flex;
	height: 150px;
	background-color: #eefbf1;
	position: relative;
	bottom: 0;
 }
