@import url("../css/headline.css");
@import url("../css/form.css");
@import url("../css/footer.css");

* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 600vh;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  position: absolute;
}


/*első képernyő*/
.main-first {
  grid-row: 1 / span 1;
  grid-column: 1 / span 10;
}


/*második képernyő*/
.main-second {
  height: 100vh;
  background-image: url("../image/hegy-festmeny-lefele.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-row: 2 / span 1;
  grid-column: 1 / span 10;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 15% 65% 11% 9%;
}

.main-second .pic {
  margin: 0 25px 0;
  grid-row: 2 / span 1;
  grid-column: 2 / span 3;
  display: flex;
  justify-content: center;
}

.main-second .pic img {
  width: 380px;
  height: 480px;
  object-fit: cover;
  object-position: 58.5%;
}

.main-second .button {
  grid-row: 3 / span 1;
  grid-column: 2 / span 3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.main-second .button .button-nav {
  width: 320px;
  height: 40px;
  color: rgb(245, 245, 245);
  background-color:#2a693d;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-second .button .button-nav:hover {
  background-color: #45a049;
}

.main-second .button-nav a:hover {
  color: #2a693d;  
}

.main-second .button .button-nav a:link {
  text-decoration: none;
}

.main-second .button .button-nav a:visited {
  color: rgb(245, 245, 245);
}

.main-second .text {
  grid-row: 2 / span 2;
  grid-column: 5 / span 6;
  display: flex;
  justify-content: center;
}

.main-second .text .vision-text {
  width: 74%;
  height: 100%;
	background-color: rgba(238, 251, 241, 0.5);
  text-align: justify;
  border: 1px solid black;
  box-sizing: border-box;
}

.main-second .text .vision-text h1 {
  padding: 20px;
  font-size: 36px;
}

.main-second .text .vision-text p {
  padding: 0 20px;
  line-height: 1.6em;
  font-size: 20px;
}

.main-second .text .vision-text .middle-p {
  font-size: 30px;
  display: flex;
  justify-content: center;
}


/*harmadik képernyő*/
.main-third {
  height: 100vh;
  display: grid;
  grid-row: 3 / span 1;
  grid-column: 1 / span 10;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 15% 65% 11% 9%;
}

.main-third .text {
  grid-row: 2 / span 2;
  grid-column: 1 / span 6;
  display: flex;
  justify-content: center;
}

.main-third .text .program {
  width: 74%;
  height: 100%;
  background-color: rgba(238, 251, 241, 0.5);
  text-align: justify;
  border: 1px solid black;
  box-sizing: border-box;
}

.main-third .text .program h1 {
  padding: 20px;
  font-size: 36px;
}

.main-third .text .program p {
  padding: 0 20px;
  line-height: 1.6em;
  font-size: 20px;
}

.main-third .pic {
  margin: 0 25px 0;
  grid-row: 2 / span 1;
  grid-column: 7 / span 3;
  display: flex;
  justify-content: center;
}

.main-third .pic img {
  width: 380px;
  height: 480px;
  object-fit: cover;
  object-position: 36%;
}

.main-third .button {
  grid-row: 3 / span 1;
  grid-column: 7 / span 3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.main-third .button .button-nav {
  width: 280px;
  height: 40px;
  color: rgb(245, 245, 245);
  background-color:#2a693d;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-third .button .button-nav:hover {
  background-color: #45a049;
}

.main-third .button-nav a:hover {
  color: #2a693d;  
}

.main-third .button .button-nav a:link {
  text-decoration: none;
}

.main-third .button .button-nav a:visited {
  color: rgb(245, 245, 245);
}


/*negyedik képernyő*/
.main-fourth {
  height: 100vh;
  display: grid;
  grid-row: 4 / span 1;
  grid-column: 1 / span 10;
  grid-template-columns: 0.4fr 1fr 1fr 1fr 0.4fr;
  grid-template-rows: 8fr 2fr;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-fourth .main-holder {
  display: flex;
}

.main-fourth .left {
  margin-right: 40px;
}

.main-fourth .left .pic {
  display: flex;
  justify-content: center;
}

.main-fourth .left .pic img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 0 0%;
}

.main-fourth .left .text {
  margin-top: 40px;
  font-size: 15px;
}

.main-fourth .middle .pic {
  display: flex;
  justify-content: center;
}

.main-fourth .middle .pic img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.main-fourth .middle .text {
  margin-top: 40px;
  font-size: 15px;
}

.main-fourth .right {
  margin-left: 40px;
}

.main-fourth .right .pic {
  display: flex;
  justify-content: center;
}

.main-fourth .right .pic img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.main-fourth .right .text {
  margin-top: 40px;
}

.main-fourth .text {
  width: 300px;
  height: 100px;
  font-size: 20px;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  box-sizing: border-box;
}

.main-fourth .button .button-nav {
  width: 260px;
  height: 40px;
  color: rgb(245, 245, 245);
  background-color:#2a693d;
  margin-top: 70px;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-fourth .button .button-nav:hover {
  background-color: #45a049;
}

.main-fourth .button-nav a:hover {
  color :#2a693d;  
}

.main-fourth .button .button-nav a:link {
  text-decoration: none;
}

.main-fourth .button .button-nav a:visited {
  color: rgb(245, 245, 245);
}


/*ötödik képernyő*/
.main-fifth {
  height: 100vh;
  grid-row: 5 / span 1;
  grid-column: 1 / span 10;
  border: 1px solid black;
}


/*hatodik képernyő*/
.main-sixth {
  height: 100vh;
  grid-row: 6 / span 1;
  grid-column: 1 / span 10;
  border: 1px solid black;
  position: relative;
}